@import "@angular/material/prebuilt-themes/magenta-violet.css";

a {
  border: solid white 2px;
  align-items: center;
  gap: 5px;
}

.back {
  background: url("/assets/Back_dungeon.png") no-repeat center center;
  display: flex;
  background-size: contain;
  justify-content: flex-start;
  border: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.roll {
  background: url("/assets/Roll_dungeon.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.grid-container {
  color: white;
  background-color: black;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;

  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.biome-img {
  width: 100px;
  height: 100px;
}
a {
  color: white;
}
