<!-- Edit mode toggle button -->
<mat-card>
  <mat-card-header class="sticky">
    <mat-card-actions>
      <mat-slide-toggle (change)="toggleEditMode()">
        {{ editMode ? 'Exit Edit Mode' : 'Enter Edit Mode' }}
      </mat-slide-toggle>
    </mat-card-actions>

    <!-- Add table form -->
    <mat-card-content *ngIf="editMode">
      <button mat-raised-button (click)="addTable()">Add Table</button>
      <input [(ngModel)]="newTableName" placeholder="New Table Name" /></mat-card-content>
  </mat-card-header>
</mat-card>
<div class="grid-container">


  <div class="grid-item" *ngFor="let encounter of randomEncounters; let i = index">
    <mat-card style="background-color: #000000;" routerLink="/biome/{{ encounter.biome }}">
      <mat-card-title>{{ encounter.biome }}</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/addBiome.png" [src]="encounter.img" />
      </mat-card-content>

      <!-- Show delete button only if edit mode is active -->
      <button *ngIf="editMode" mat-raised-button color="warn" (click)="deleteTable(encounter._id, i, $event)">
        Delete Table
      </button>
    </mat-card>
  </div>


</div>