<!-- Edit mode toggle button -->

<mat-card class="sticky">
  <mat-card-header>
    <mat-card-actions>
      <mat-slide-toggle (change)="toggleEditMode()">
        {{ editMode ? 'Exit Edit Mode' : 'Enter Edit Mode' }}
      </mat-slide-toggle>

      <button mat-raised-button (click)="biomeModalOpen()">
        Add Biome
      </button>
    </mat-card-actions>


  </mat-card-header>

</mat-card>
<mat-card-title class="title">Random Encounters</mat-card-title>
<div class="grid-container">


  <div class="grid-item" *ngFor="let encounter of randomEncounters; let i = index">
    <mat-card style="background-color: black" routerLink="/biome/{{ encounter.biome }}">
      <mat-card-title>{{ encounter.biome }}</mat-card-title>
      <mat-card-content>
        <img mat-card-image src="assets/addBiome.png" [src]="encounter.img" />
      </mat-card-content>

      <!-- Show delete button only if edit mode is active -->
      <button *ngIf="editMode" mat-raised-button color="warn" (click)="deleteTable(encounter._id, i, $event)">
        Delete Table
      </button>
    </mat-card>
  </div>
</div>