
<div class="palkki">
      <button style="background-color:#C5231D; color:white;" mat-flat-button (click)="biomeModalOpen()">
      Add Biome
    </button>
<mat-card-title class="title">Random Encounters</mat-card-title>
<mat-card-header>
      <mat-slide-toggle  (change)="toggleEditMode()">
        {{ editMode ? 'Exit ' : 'Delete tables' }}
      </mat-slide-toggle>
</mat-card-header>
</div>


<div class="grid-container">


  <div class="grid-item" *ngFor="let encounter of randomEncounters; let i = index">
    <mat-card style="background-color: black" routerLink="/biome/{{ encounter.biome }}">
      
      <mat-card-content>
        <img mat-card-image src="assets/addBiome.png" [src]="encounter.img" />
        <mat-card-title>{{ encounter.biome }}</mat-card-title>
      </mat-card-content>
      

      <!-- Show delete button only if edit mode is active -->
      <button *ngIf="editMode" mat-raised-button style="background-color:#C5231D; color:white;" (click)="deleteTable(encounter._id, i, $event)">
        Delete Table
      </button>
    </mat-card>
  </div>
</div>