@import "@angular/material/prebuilt-themes/magenta-violet.css";

a {
  border: solid white 2px;
  align-items: center;
  gap: 5px;
}

.back {
  background: url("/assets/Back_dungeon.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 50px;
  height: 40px;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.grid-container {
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative; /* This is crucial for absolute positioning inside */
}

.grid-item {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.grid-item:hover {
  color: #c5231d;
}
.biome-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.biome-img:hover {
  transform: scale(1.2);
}
a {
  color: white;
}

.card-color {
  background-color: #000000;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
  }
}
