@import "@angular/material/prebuilt-themes/magenta-violet.css";



a{
  border: solid white 2px;
  align-items: center;
  gap: 5px;
}

.back {
  background: url("/assets/Back_dungeon.png") no-repeat center center;
  display: flex;
  background-size: contain;
  justify-content: flex-start;
  border: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.roll {
  background: url("/assets/Roll_dungeon.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

div {
  color: white;
  background-color: black;
  display: flex;
  display: grid; /* Tee div:stä grid-kontaineri */
  place-items: center;
}
a {
  color: white;
}
