@import "@angular/material/prebuilt-themes/magenta-violet.css";

mat-card-content{
    font-family: "Faculty";
    background-color: #4F4C4C;
    color: #ebdb86;
    font-family: "Faculty";
    font-weight: 300;
    padding-bottom: 1.2em;
}