@import "@angular/material/prebuilt-themes/magenta-violet.css";
nav{
    color: white;
    background-color: black;
    display: grid;
}
button{
    font-family: 'Kyiv*Type Titling';
    font-size: 30px;
    font-weight: bold;
    padding: 2rem;
    margin-left: 30%;
    margin-right: 30%;


}
