<nav>
    
    <button mat-flat-button style="background-color: #C5231D; color: white;" routerLink="/highway">Highway</button>
    <br><br>
    <button mat-flat-button style="background-color: #C5231D; color: white;" routerLink="/dungeon">Dungeon</button>

    <br><br>
    <button mat-flat-button style="background-color: #C5231D; color: white;" routerLink="/settlement">Settlement</button>
    <br><br>
    <button mat-flat-button style="background-color: #C5231D; color: white;" routerLink="/wilderness">Wilderness</button>

    <br><br>
    
</nav>