/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.back {
  background: url("/assets/Back_dungeon.png") no-repeat center center;
  display: flex;
  background-size: contain;
  justify-content: flex-start;
  border: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.mat-card {
  background-color: #000000;
}
