@import "@angular/material/prebuilt-themes/magenta-violet.css";

.mat-slide-toggle {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
}

.weight-buttons button {
  background-color: transparent;
  border: none;
  color: #c5231d;
  cursor: pointer;
}
.weight-buttons button:hover {
  background-color: #c5231d;
  color: black;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
}
h2 mat-dialog-title{
  font-family: "Faculty";

}
mat-label {
  color: #ebdb86;
  font-family: "Faculty";
  font-weight: 300;
  padding-bottom: 1.2em;
}

#formi{
  font-family: "Faculty";
  background-color: #4F4C4C;

}