
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #EBDB86;
    
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Faculty';
    font-size: 1.4rem;
}
button{
    background-color: aqua;
}
.google {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

  }

h3 {
    font-family: 'Faculty';
    color: #EBDB86;
    margin-bottom: 1rem;

}
h3{
    font-family: Faculty;
}
