<div class="container-fluid">
    <div class="d-flex mt-3 mb-3">
      <h3>Login</h3>
    </div>
    <div class="d-flex mt-3 mb-3"><h5>Google-kirjautuminen</h5></div>
    <div>
      <asl-google-signin-button
        size="large"
        class="google-button"
        type="standard"
        text="signin_with"
      ></asl-google-signin-button>
    </div>
    <div class="d-flex mt-3 mb-3">
      <p>tai</p>
    </div>
    <div class="d-flex mt-3 mb-3"><h5>Tavallinen kirjautuminen</h5></div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group">
        <label for="tunnus">Tunnus:</label>
        <input type="text" class="form-control" name="tunnus" ngModel />
        <label for="salasana">Salasana:</label>
        <input
          type="password"
          class="form-control"
          name="salasana"
          ngModel
        /><br />
        <button type="submit" class="btn btn-light">Kirjaudu sisään</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    </form>
    <div class="d-flex mt-5 mb-5">
      Kirjautumiseen on kaksi vaihtoehtoa: Googlen tunnareilla tai omassa
      tietokannassa olevilla tunnareilla. Google-kirjautuminen ei käytä tässä
      esimerkissä tietokantaa. Omat tunnarit ovat MongoDb-kannassa, jonne niitä
      voi luoda Postmanilla backendin users/register -reitin kautta. Ajaessasi
      tätä esimerkkiä, tarkkaile selaimen ja backend-sovelluksen konsolia, sillä
      niihin logataan tietoa sovelluksen toiminnasta.
    </div>
  </div>
  