<div>
  <h2>Edit Highway Encounters</h2>

  <button mat-flat-button style="background-color: #C5231D; margin: 10px; color: white;" (click)="addEncounter()" type="button">Add list</button>

  <form (ngSubmit)="saveEdits()" #editForm="ngForm">

    <div *ngFor="let encounter of highwayEncs; let i = index ">

      
      <div 
        class="encounter-item" 
        [ngClass]="{'even-item': i % 2 === 0, 'odd-item': i % 2 !== 0}"
        (click)="toggleDetails(i)" 
        style="cursor: pointer; padding: 10px; margin-bottom: 10px; display: flex; align-items: center; justify-content: space-between;">
        
        <span class="encounter-number">{{ i + 1 }}</span>
        
        <strong>{{ encounter.name || 'Add new' }}</strong>
        
        
        <button mat-icon-button  style="background-color: transparent; border: none; padding: 0;">
          <img src="assets/bin.png" style="width: 28px; height: 28px;">
        </button>
      </div>


      <div *ngIf="showDetails[i]" style="padding: 10px;">
        <div>
          <label for="name-{{ encounter.id }}">Name: </label>
          <input 
            type="text" 
            id="name-{{ encounter.id }}" 
            [(ngModel)]="encounter.name" 
            name="name-{{ encounter.id }}" 
            required 
          />
        </div>
        <br>
        <div>
          <label for="description-{{ encounter.id }}">Description:</label>
          <textarea 
            id="description-{{ encounter.id }}" 
            [(ngModel)]="encounter.description" 
            name="description-{{ encounter.id }}" 
            required 
          ></textarea>
        </div>
      </div>

    </div>

    <!-- Save Changes button -->
    <button mat-flat-button style="background-color: #C5231D; color: white;" type="submit">Save Changes</button>
  </form>
</div>
