@import "@angular/material/prebuilt-themes/magenta-violet.css";

nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    position: static;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .nav-item{
    margin: 0 15px;
    color: white;

  }
  .nav-item:hover{
    cursor: pointer;
    color: #C5231D;
  }
  
  .logo {
    height: 100px;
    width: 150px;
  }
  img{
    height: 30px;
  }
  
  button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
  }
  

.menu {
  display: none;
}

/* Hampurilaisvalikko ja navigointilinkit */
.nav-links {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    background-color: #000;
    padding: 10px;
    z-index: 10;
    border-radius: 5px;
  }

  
  .nav-links.show {
    display: flex;
    background-color: black;
  }

  .nav-item, .nav-container button {
    color: white;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

}