<nav>
  <div class="nav-container">
    <img class="menu" src="../assets/menu.png" alt="menu" (click)="toggleMenu()">
    <img class="logo" src="../assets/logo.png">
    <div class="nav-links" [ngClass]="{ 'show': menuOpen }">
      <div class="nav-item" routerLink="/retables">Resources</div>
      <div class="nav-item" routerLink="/merchants">Merchant</div>
      <div class="nav-item" routerLink="/Notes">Notes</div>
      <button mat-flat-button style="background-color: #C5231D; color: white;">Import PDF</button>
    </div>
    <img src="../assets/account_circle.png" alt="">
    
  </div>
</nav>