@import "@angular/material/prebuilt-themes/magenta-violet.css";

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  overflow: hidden;
  z-index: 1000;
}
.sidenav-container{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-button {
  display: none;
  position: relative;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  color: white;
  text-decoration: none;
  gap: 20px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.side-nav {
  width: 250px; 
  height: 200px;
  background-color: #000000;

  position: fixed;
  z-index: 1000;
}

mat-list-item {
  display: block;
  
  text-decoration: none; 
  color: black; 
}



/* Mobiilivalikko */
@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: inline-block;
    color: rgb(255, 255, 255);
  }

  .right-side {
    flex: none;
  }

  .mat-sidenav-open {
    overflow: visible;
    position: relative;
  }
  

}
