@import "@angular/material/prebuilt-themes/magenta-violet.css";

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 10px;
}

.menu-button {
  display: none;
}

.logo {
  height: 70px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  color: white;
  text-decoration: none;
  gap: 20px;
}

::ng-deep .nav-links a.mat-button .mat-button-wrapper {
  color: white !important;
}

::ng-deep .nav-links a.mat-button:hover .mat-button-wrapper {
  color: #C5231D !important; /* Hover-väri */
}

.nav-links a:hover {
  color: #C5231D !important;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}



.side-nav {
  width: 250px; /* Sidenavin leveys */
  background-color: #fff; /* Taustaväri */
  color: black; /* Tekstiväri */
  height: 100%; /* Kattaa koko korkeuden */
}

mat-nav-list {
  padding: 0; /* Poista mahdollinen ylä- ja alareunan tyhjä tila */
}

mat-list-item {
  display: block; /* Varmista, että listaelementit näkyvät pystysuunnassa */
  padding: 10px 20px; /* Mukautettu tyylitys */
  text-decoration: none; /* Poista alleviivaus */
  color: black; /* Varmista, että teksti on musta */
}

/* Muuta väriä hiirellä hoveroitaessa */
mat-list-item:hover {
  background-color: #C5231D; /* Taustaväri hoveroinnin aikana */
  color: white; /* Tekstin väri hoveroinnin aikana */
}

/* Muu sisältö */
.main-content {
  padding: 20px; /* Tai haluamasi marginaali */
}

/* Mobiilivalikko */
@media only screen and (max-width: 600px) {
  .nav-links {
    display: none; /* Piilotetaan navigointilinkit pienillä näytöillä */
  }

  .menu-button {
    display: inline-block; /* Näytetään hampurilaisvalikko */
    color: white;
  }

  .right-side {
    flex: none; /* Estetään asettelun venyminen pienissä ruuduissa */
  }

  .side-nav {
    height: 100%; /* Varmista, että sidenav kattaa koko korkeuden */
  }

  .mat-sidenav-open {
    overflow: hidden; /* Estää skrollauksen avattaessa sidenav */
  }
}
