<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/retables">Resources</a>
      <a mat-list-item routerLink="/merchants">Merchant</a>
      <a mat-list-item routerLink="/notes">Notes</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">

      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <img class="logo" src="../assets/logo.png" alt="logo">

      <div class="nav-links">
        <a mat-button routerLink="/retables" color="basic">Resources</a>
        <a mat-button routerLink="/merchants" color="basic">Merchant</a>
        <a mat-button routerLink="/notes" color="basic">Notes</a>
      </div>

      <div class="right-side">
        <button mat-flat-button >Import PDF</button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>