<div class="palkki">
    <button mat-flat-button routerLink="/" style="background-color:#C5231D; color:white;">Back</button>
    <h3>Merchants</h3>
    <button mat-flat-button style="background-color:#C5231D; color:white;" (click)="merchantModalOpen()">Create</button>
</div>
  
  
  
  <div class="merchant-grid">
    <a class="merchant-item" *ngFor="let m of merchants" [routerLink]="'/merchants/' + m._id">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ m.name }}</mat-card-title>
        </mat-card-header>
        <button mat-icon-button (click)="deleteMerchant(m._id)">
            <mat-icon>delete</mat-icon>
          </button>
      </mat-card>
    </a>
  </div>
  