<mat-list>
    <mat-list-item *ngFor="let m of merchants">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ m.name }}</mat-card-title>
                <button mat-icon-button routerLink="/merchants/{{ m._id }}">
                    <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteMerchant(m._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-header>

        </mat-card>
    </mat-list-item>
</mat-list>

<button mat-raised-button (click)="merchantModalOpen()">
    Add Biome
</button>