<div>
  <h2>Highway Encounters</h2>
  <div class="napit">
  <button class="back" routerLink="/random"></button>
  <button class="edit" mat-flat-button style="background-color: #C5231D; color: white;" routerLink="/edit-highway">Edit</button>

  </div>
  <div class="menu">
    <a *ngFor="let highway of highwayEncs">
      {{ highway.name }}
    </a>
  </div>

  <br>
  <div>
    <button class="roll" (click)="rollTable()"></button>
  </div>



  <!-- Add this to display the rolled encounter's name and description -->
  <div *ngIf="rolledEncounter">
    <h3>Rolled Encounter:</h3>
    <p><strong>Name:</strong> {{ rolledEncounter.name }}</p>
    <p><strong>Description:</strong> {{ rolledEncounter.description }}</p>
  </div>


</div> 
