<div id="formi">
  <mat-card-content>
  <!-- First form field -->
  <mat-form-field>
    <mat-label>Add Merchant</mat-label>
    <input matInput placeholder="Merchant Name" [(ngModel)]="newMerchant.name" />
  </mat-form-field>

  <!-- Second form field -->
  <mat-form-field>
    <mat-label>Select Item Category</mat-label>
    <mat-select [(ngModel)]="newMerchant.inventory[0]">
      <mat-option *ngFor="let type of itemTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Save button -->
  <button mat-flat-button style="background-color:#C5231D; color:white" (click)="onSave()" type="button">
    Create Merchant
  </button>
  </mat-card-content>
</div>