<mat-card-content>
  <!-- First form field -->
  <mat-form-field>
    <mat-label>Merchant Name</mat-label>
    <input matInput placeholder="Merchant Name" [(ngModel)]="newMerchant.name" />
  </mat-form-field>

  <!-- Item Type -->
  <mat-form-field>
    <mat-label>Item Category</mat-label>
    <mat-select [(ngModel)]="newMerchant.type" multiple="true">
      <mat-option *ngFor="let type of itemTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Save button -->
  <button mat-raised-button color="primary" (click)="onSave()" type="button">
    Create Merchant
  </button>
</mat-card-content>