<h2 mat-dialog-title>Add a new encounter</h2>
<mat-dialog-content class="content">
  <form #newEncounterForm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newEncounter.name" name="name" required />
      <mat-error *ngIf="newEncounter.name === ''">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="newEncounter.description" name="description" required></textarea>
      <mat-error *ngIf="newEncounter.description === ''">Description is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Choose a Die" matInput [(ngModel)]="newEncounter.roll" name="roll"
        (ngModelChange)="onRollChange($event)">
        <mat-option *ngFor="let die of availableDice" [value]="die">
          {{ die }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input type="number" matInput [(ngModel)]="newEncounter.weight" name="weight" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput [(ngModel)]="newEncounter.img" name="img" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="button-container">
  <button mat-flat-button style="background-color:#C5231D; color:white" (click)="onCancel()">Cancel</button>
  <button mat-flat-button style="background-color:#C5231D; color:white" [disabled]="newEncounterForm.invalid" (click)="onSave()">Save</button>
</mat-dialog-actions>