.palkki {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #000000e2;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.right-controlss {
  display: none;
}

.hidden {
  display: none;
}
.editti {
  justify-items: center;
  align-items: center;
  top: 120px;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.edit-mode .editti {
  display: none;
}

.encounter-container {
  margin-left: 20%;
  margin-right: 20%;
  cursor: default;
  padding-top: 70px;
}
.item-percent1 {
  color: #ebdb86;
}
.item-percent {
  color: #ebdb86;
}
.edit-mode .item-percent1 {
  display: none;
}

.encounter-container.edit-mode .item-percent {
  flex-direction: column;
}

.formi-container {
  display: flex;
  width: 100%;
  gap: 10px;
}
mat-label {
  font-size: 1rem;
  color: #ebdb86;
}

.formi {
  height: 160px;
  overflow: visible;
}
.left-fields {
  display: flex;
  max-width: 200px;
  height: 100px;
  flex-direction: column;
  flex: 1;

  gap: 10px;
  align-items: center;
}

.right-field {
  height: 160px;
  overflow: visible;
  gap: 10px;
  height: 170px;
  flex: 4; /* Description-kenttä on isompi oikealla */
  max-width: 400px;
}

.right-controls {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25%;
  padding-top: 20px;

  }


.left-controls {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}


.formi-container .right-field mat-form-field {
  width: 270px;
}
mat-card-title {
  color: #ebdb86;
  font-family: "Faculty";
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1.2em;
}
.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.encounter-item {
  display: flex;
  align-items: center;
  padding: 20px;
}
.edit-mode .noppa {
  display: none;
}

.item-weight-container {
  display: flex;
  align-items: center;
}

.weight-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.item-name {
  margin-left: -70px;
}
.item-number,
.item-name {
  font-family: "Faculty";
  font-weight: 600;
  flex: 1;
  text-align: left;
}

.even-item {
  background-color: #222222;
}

.odd-item {
  background-color: #000000;
}

.encounter-item:hover {
  border-bottom: groove 5px #c5231d;
}

/* Modal styles */
.modal {
  background-color: #ff0000;
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.weight-buttons button {
  background-color: transparent;
  border: none;
  color: #c5231d;
  cursor: pointer;
}
.weight-buttons button:hover {
  background-color: #c5231d;
  color: black;
}
.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 50px;
  width: 100%;
}

.noppa {
  cursor: pointer;
  background-size: contain;
  transition: transform 0.5s ease;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noppa:hover {
  transform: scale(1.2);
}

p {
  font-size: 20px;
  text-align: center;
}
mat-button {
  background-color: aqua;
}
mat-form-field textarea {
  overflow: hidden;
  height: 160px;
}

@media only screen and (max-width: 1200px) {
  .item-name {
    margin-left: -30px;
  }
  .encounter-item {
    flex-wrap: wrap;
  }
  .left-controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
    margin-top: -30px;
  }
  .item-weight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .right-controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 35%;
  }
  .edit-mode .editti {
    display: none;
  }
  .weight-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .item-percent {
    margin-left: 10px;
    font-size: 1rem;
  }

  /* Modal styles */
  .dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 50px;
    width: 100%;
  }
  .isEditing .dice-container {
    display: none;
  }

  .noppa {
    cursor: pointer;
    background-size: contain;
    transition: transform 0.5s ease;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formi-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .formi {
    width: 100%;
    height: auto;
  }

  .left-fields {
    width: 100%;
    flex-direction: column;
  }

  .right-field {
    align-items: left;
    margin: 0;
    text-align: left;
  }

  .item-number,
  .item-name {
    flex: 1;
    text-align: left;
    font-size: 1rem;
  }
  .item-number {
    order: -1;
  }
  .item-name {
    padding: 0;
  }

  .item-percent1 {
    display: block;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .encounter-container {
    color: white;
    max-width: 100%;
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;
  }
  .left-controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 5%;
    margin-top: -30px;

  }
  .encounter-item {
    flex-wrap: wrap;
  }
  .palkki {
    width: 90%;
  }

  .edit-mode .editti {
    display: none;
  }
  .item-weight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .right-controls {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15%;
    padding-top: 35px;
    }

  .weight-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .item-percent {
    margin-left: 10px;
    font-size: 1rem;
  }

  /* Modal styles */
  .dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 50px;
    width: 100%;
  }

  .noppa {
    cursor: pointer;
    background-size: contain;
    transition: transform 0.5s ease;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-mode .left-fields .right-controls {
    display: flex;
    flex-direction: column;
  }

.edit-mode .left-fields .right-controls{
  display: flex;
  flex-direction: column;
}
  



  .item-number,
  .item-name {
    flex: 1;
    text-align: left;
    font-size: 1rem;
  }
  .item-number {
    order: -1;
  }

  .item-name {
    padding: 0;
  }

  .item-percent1 {
    display: block;
    margin-left: 10px;
  }
}