.roll {
  background: url("/assets/Roll_dungeon.png") no-repeat center center;
  background-size: contain;
  border: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.encounter-container {
  display: grid;
  margin-left: 30%;
  margin-right: 30%;
  cursor: default;
}

.encounter-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.item-weight-container {
  display: flex;
  align-items: center;
}

.weight-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.weight-buttons button {
  background-color: transparent;
  border: none;
  color: #c5231d;
  cursor: pointer;
}
.weight-buttons button:hover {
  background-color: #c5231d;
  color: black;
}

.item-number,
.item-name {
  flex: 1;
  text-align: left;
}
.item-wight,
.item-percent {
  color: aquamarine;
  flex: 1;
  padding: 10px;
  text-align: right;
}

.even-item {
  background-color: #222222;
}

.odd-item {
  background-color: #000000;
}

.encounter-item:hover {
  border-bottom: groove 5px #c5231d;
}

/* Modal styles */
.modal {
  display: flex;
  flex-direction: column;
  margin-left: 10px; 
}

.weight-buttons button {
  background-color: transparent;
  border: none;
  color: #C5231D;
  cursor: pointer;
}
.weight-buttons button:hover {
  background-color: #C5231D;
  color: black;
}



.item-number,
.item-name {
  flex: 1;
  text-align: left;
}
.item-wight,
.item-percent{
color: aquamarine;
flex: 1;
padding: 10px;
text-align: right;

}

.even-item {
  background-color: #222222;
}

.odd-item {
  background-color: #000000;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.encounter-item:hover {
  border-bottom: groove 5px #C5231D;
  
}