<div *ngIf="filteredEncounters">
  <h3>{{ filteredEncounters.biome }}</h3>
  <div>
    <a *ngFor="let enc of filteredEncounters.enc" routerLink="/detail/{{ enc.id }}">
      <strong>Name:</strong> {{ enc.name }}
      <p>Weight: {{ enc.weight }}</p>
      <p>%: {{ this.percentCalc(this.enc.weight, this.w) }}</p>
      <p></p>

    </a>

    <a *ngFor="let enc of filteredEncounters.enc" (click)="openEncounterModal(enc)">
      {{ enc.name }}



      <div>
        <button class="roll" (click)="rollTable()"></button>
      </div>
    </a>