@import "@angular/material/prebuilt-themes/magenta-violet.css";

.main-content {
  font-family: "Faculty Glyphic", serif;
  min-height: 100vh; /* Määrittää vähimmäiskorkeudeksi koko näytön korkeuden */
  color: white;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}



@media only screen and (max-width: 600px){
  .main-content{
    background:none;
    background-color: black;
    align-items: center;

    width: 100%;
  }
  .button-container{
    display: none;
  }
  
}