
  
  .mat-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    padding-top: 40px;
    gap: 40px;
  }
  
  mat-grid-list {
    width: 100%;
  }
  
  mat-grid-tile {
    background: rgb(0, 0, 0);
    background: url(../../../public/assets/Retausta.png) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;      
    margin: 0 auto;   
    text-align: center;
    border-radius: 20px;
    gap: 20px;
    font-size: 1.6em;
    font-weight: 500;
    border: solid black 2px;
  }
  .tile2{
    background: rgb(0, 0, 0);
    background: url(../../../public/assets/locationTausta.png) no-repeat center center;
    

  }
  .tile3{
    background: rgb(0, 0, 0);
    background: url(../../../public/assets/treasure\ 2.png) no-repeat center center;
  }