<div class="merchant-container">
  <button mat-flat-button color="accent" routerLink="/merchant">Back</button>
  <mat-card-title>{{ specificMerchant?.name }}</mat-card-title>

  <mat-card class="merchant-card">
    <div class="merchant-info-container">
      <div class="merchant-info" *ngFor="let items of specificMerchant?.inventory; let i = index"
        [ngClass]="{'even-item': i % 2 === 0, 'odd-item': i % 2 !== 0}">
        <div class="item-details">
          <span class="item-number">{{ i + 1 }}</span>
          <span class="item-name">Item: {{ items.ware }}</span>
        </div>
        <div class="item-metadata">
          <span class="item-type">Type: {{ items.type }}</span>
          <span class="item-quantity">Quantity: {{ items.quantity }}</span>
          <span class="item-weight">Item Weight: {{ items.weight }}</span>
          <span *ngIf="items.dmg" class="item-hd">Damage: {{ items.dmg }}</span>
          <span *ngIf="items.rng" class="item-rng">Range: {{ items.rng}} </span>

          <span *ngIf="items.ac" class="item-ac">Armor Class: {{ items.ac}} </span>

          <a mat-flat-button class="item-cost">Price: {{ items.cost }}</a>

        </div>
      </div>
    </div>
  </mat-card>
</div>