.merchant-container {
  padding-top: 3%;
  cursor: default;
  margin-left: 20%;
  margin-right: 20%;
}
mat-card-title{
  color: #EBDB86;
  font-family: 'Faculty';
  font-size: 25px;
  font-weight: 600;
}
.merchant-card {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
}

.merchant-info-container {
  display: flex;
  flex-direction: column;

}

.merchant-info {
  background-color: #555;
  padding: 8px;
}

.even-item {
  background-color: black;
}

.odd-item {
  background-color: #222222;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-details1{
  display: flex;
  flex-direction: row;

}

.item-metadata {
  display: flex;
  align-items: center;
  position: relative;
}
.item-image{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.item-number {
  font-weight: bold;
  font-size: 28px;
  margin-right: 10px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Faculty';
  color: #EBDB86;
}

.item-type,
.item-quantity,
.item-weight,
.item-hd,
.item-rng,
.item-ac {
  font-size: 16px;
  font-weight: normal;
  margin-top: 4px;
}
.item-cost {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
  padding: 4px 8px;
  background-color: red;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .item-metadata{
    padding-left: 0;
  }

  .merchant-container {
    margin-left: 0; /* Poista marginaalit */
    margin-right: 0; /* Poista marginaalit */
  }

  .merchant-card {
    width: 100%; /* Varmista, että kortti vie koko leveys */
    margin: 0; /* Poista marginaalit */
  }
  button{
    position: absolute;
    left: 10px;
  }
}
